@tailwind base;
@tailwind components;
@tailwind utilities;

.amarna {
  font-family: "Amarna", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100 700;
  font-style: normal;
}

@layer base {
  body {
    @apply amarna;
  }
}
